body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.sectionTitle {
	font-size: 1.9em;
	font-family: "Roboto slab";
}
.link {
	text-decoration: none;
	color:rgb(0, 0, 0);
}
.linkWhite {
	text-decoration: none;
	color: white;
}
.fontRoSlab {
	font-family: "Roboto slab";
}
.fontSize20 {
	font-size: 18px;
	margin-bottom: 20px;
}
/* Home Page Css*/
.categoryContainer .swiper-slide  {
	margin-right: 20px !important;

}
.parallax {
	height: 500px;
}

.wrapBlog {
	display: table;
    margin: 20px;
}
.latestBlog .wrapBlog .article__gridImage,
.latestBlog .wrapBlog .article__gridMeta {
	display: table-cell;
	vertical-align: middle;
	float: none;
}
.latestBlog .wrapBlog .article__gridMeta {
	width: 55%;
}
.latestBlog .wrapBlog .wrapBlogInner {
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
	margin-left: -30px;
	position: relative;
}
.latestBlog .article__gridExcerpt {
	font-size: 12px;
	margin-bottom: 10px;
    margin-top: 10px;
}
.article__gridImage img {
	max-width: 100%;
}
.blogThumb {
	
width: 100%;
height: 200px;
object-fit: cover;
}
.blogTitle {
	font-size: 17px;
	margin-top: 20px;
	text-decoration: none;
	color: black;
	text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.blogLink {
	text-decoration: none;
	color: #007bff;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
    font-size: 14px ;
}
.wrapBlogInner li {
	list-style: none;
}
.parallaxContentBox {
 background-color: transparent;
 width: 90%;
 max-width: 400px !important;
}
.parallaxTitle {
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
}
.parallaxContent {
	font-family: Helvetica, sans-serif;
	padding-bottom: 20px;
	font-weight: 500;
}
.linkParallax {
	background-color: black;
	color: white;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	margin-top: 20px;
	font-size: 0.8em;
}

/* Product Page Css*/

.breadCrumbs {
	background-color: #f9f9f9;
	text-align: left;
	margin-bottom: 20px;
}
.productSingle__title {
	font-size: 24px;
	font-family: "Roboto Slab", Helvetica, sans-serif;
}
.prInfoRow {
	display: flex;
	justify-content: flex-start;
    margin-bottom: 10px;
	margin-top: 10px;
}
.productStock {

}
.instock {
	color: #447900;
	font-family: Helvetica, sans-serif;
}
.outstock {
	color: #973441;
}
.productSku {
margin-left: 20px;
font-size: 13px;
font-family: Helvetica, sans-serif;
}
.variantSku {
	margin-right: 20px;
	font-size: 13px;
	font-family: Helvetica, sans-serif;
}
.productSingle__price {
	display: inline-block;
    margin-right: 10px;
    color: #555;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 15px;
	font-family: Helvetica, sans-serif;
}
.productPrice__price {
	font-size: 1.46154em;
    padding-left: 3px;
	font-weight: 600;
    display: inline-block;
}
.rte {
	color: #555;
    margin-bottom: 20px;
}
.color {
	display: flex;
	justify-content: flex-start;
	margin-left: 10px;
}
.spanColor {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border-radius: 50%;
	border-color: white;
	border-style: double;
}
.featureTitle {
	display: inline-block !important;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
}
.size {
	display: flex;
	justify-content: flex-start;
	margin-left: 10px;
}
.spanSize {
	width: 20px;
	height: 20px;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid black;
	text-align: center;
}
.featureButtonBox {
	margin-top: 20px;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
}

  .addToCartButton {
	width: 100%;
	height: 47px;
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	color: white;
	font-weight: 400;
	border-radius: 0;
	box-shadow: none;
	border: 1px
  }
  .wishListBox {
	  margin-top: 10px;
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;
  }
  .featuresBox {
	  margin-top: 100px !important;
	  margin-bottom: 40px;
  }
  .productFeatures {
	  display: flex;
	  justify-content: space-between;
	  align-items: flex-start;
	  margin: 10px;
  }
  .productFeatures img {
	  max-width: 40px;
	  object-fit: contain;
	  margin-right: 10px;
  }
  .productFeatureDetails {
	  font-family: Arial, Helvetica, sans-serif
  }
  .productFeatureDetails span {
	display: block;
	font-size: 17px;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
  }
  .ratingBox {
	  margin-top: 30px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  border: 1px solid black;
	  padding: 20px 40px
  }
  .reviewOverall {
	  font-size: 25px;
	  font-weight: 400;
	  font-family: Arial, Helvetica, sans-serif;
  }
  .reviewRating {
	  font-size: 50px;
	  font-weight: 900;
	  color: #e1dc61;
	  font-family: Arial, Helvetica, sans-serif;
  }
  .reviewCount {
	  font-size: 20px;
	  font-weight: 200;
	  font-family: Arial, Helvetica, sans-serif;
  }
  .starLine {
	  display: flex;
	  align-items: center;
	  font-size: 16px ;
  }
  /* Blog Page Css*/
  .pageTitle {
	  border-bottom: 1px solid rgb(168, 165, 165);
	  padding: 15px;
	  font-size: 26px;
	  font-weight: 200;
	  font-family: 'Roboto Slab', Times, serif;
  }
  .articleImg {
	  width: 100%;
	  max-height: 300px;
  }
  /* Contact Page Css*/
  .mapContainer div:first-of-type {
	position: relative !important;
	width: 100%;
	height: 100%;
	}
  @media screen and (max-width: 600px) {
	.sectionTitle {
		font-size: 24px;
		font-family: "Roboto slab";
	}
	.parallax {
		height: 250px !important;
	}
    .blogTitle {
        font-size: 16px !important;
        margin-top: 20px;
        text-decoration: none;
        color: black;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
    }
    .blogLink {
        text-decoration: none;
        color: #007bff;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        font-size: 10px !important;
    }
	.parallaxTitle {
		font-size: 20px;
		font-family: Arial, Helvetica, sans-serif;
	}
	.featuresBox {
		margin-top: 50px !important;
		margin-bottom: 40px;
	}
	.categoryContainer .swiper-slide  {
		margin-right: 10px !important;
	
	}
}
@media screen and (max-width: 900px) {
	.parallax {
		height: 350px;
	}
}
